body {
  background: url('/static/img/bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero.is-info {
    background-color: rgba(0, 71, 119, 0.7);
}

.navbar-item img {
    max-height: 3rem;
}
